{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
<div class="large-4 medium-6 small-12 columns">
  <span class="article-listing-image"> {{ fields.field_image.content }}</span>
</div>

<div class="large-8 medium-6 small-12 columns">
  <div class="article-listing-details">
  <h3 class="article-listing-title">{{ fields.title.content }}</h3>
  <div><span class="article-listing-body"> {{ fields.body.content }} </span></div>
  <div><span class="article-listing-date"> {{ fields.created.content }} </span></div>
  {% if fields.field_tags.content|render is not empty %}
  	<div class="article-listing-topics-wrapper">
  	<span class="article-listing-topics"> {{ fields.field_tags.content }} </span>
  	</div>
  {% endif %}
	</div>
	</div>
